# Macro Collecte
L'objectif de ce notebook est de récupérer les données macroéconomiques qui nous intéresse pour en faire un fichier unique.

In [113]:
import pandas as pd

In [114]:
data = pd.read_sas("datas/construct_red.sas7bdat")
dates = data[data.CHRONIQUE == b"CHR2"].TRIMESTRE

In [115]:
macros = pd.read_excel("datas/macro.xlsx")

In [116]:
macros = macros.set_index(dates)
macros.drop("date",axis=1,inplace=True)

In [117]:
macros

                  CAC40  ExchangeRate  LendingRate
TRIMESTRE
2008-12-31  2973.919922      1.285099       2.4310
2009-03-31  3159.850098      1.323522       2.8776
2009-06-30  3426.270020      1.426005       2.8335
2009-09-30  3607.689941      1.473297       2.8154
2009-12-31  3739.459961      1.387694       2.7190
2010-03-31  3816.989990      1.329805       2.4817
2010-06-30  3643.139893      1.304002       2.4647
2010-09-30  3833.500000      1.377809       1.9495
2010-12-31  4005.500000      1.357276       1.8484
2011-03-31  4106.919922      1.482096       1.8305
2011-06-30  3672.770020      1.433199       1.8570
2011-09-30  3242.840088      1.414007       1.8484
2011-12-31  3298.550049      1.313957       1.8881
2012-03-31  3212.800049      1.324152       2.1698
2012-06-30  3291.659912      1.225941       2.1320
2012-09-30  3429.270020      1.296260       2.1741
2012-12-31  3732.600098      1.356834       1.9911
2013-03-31  3856.750000      1.309586       2.1584
2013-06-30  3992.689941      1.326489       1.9547
2013-09-30  4299.890137      1.372401       1.9540
2013-12-31  4165.720215      1.355877       1.9853
2014-03-31  4487.390137      1.381368       1.9978
2014-06-30  4246.140137      1.339603       1.8189
2014-09-30  4233.089844      1.261336       1.5928
2014-12-31  4604.250000      1.128796       1.3470
2015-03-31  5033.640137      1.083025       1.9510

In [118]:
macros.to_csv("datas/macros.csv")